/extra/reshax/Release/
/extra/reshax/Debug/
/extra/reshax/resources.h
/extra/reshax/resources.cpp
*.obj
*.o
*.dirstamp
*.m4
*.Po
*.lo
*.Plo
*.dll
*.user
*.suo
*/Release*
*/Debug*
*.lib
*.ncb
*.exe
*.bat
/platform/xcode/Build
/platform/xcode/DerivedData
/platform/xcode/ios/include
/platform/xcode/ios/libraries
/platform/xcode/ios/luajit-git
/platform/xcode/macosx/Frameworks
*xcuserdata*
*.DS_Store
*.dylib
*.dmg*
demos
*.orig
.*.swp
/autom4te.cache/
/src/.libs/
*~
Makefile*
config*
libtool
/platform/unix/ar-lib
/platform/unix/compile
/platform/unix/config.guess
/platform/unix/config.sub
/platform/unix/debian/changelog
/platform/unix/debian/control
/platform/unix/debian/rules
/platform/unix/depcomp
/platform/unix/install-sh
/platform/unix/love.desktop
/platform/unix/ltmain.sh
/platform/unix/missing
.lineno
*.la
*.Tpo
*.rej
*/.deps
stamp-h1
/src/love
/src/tags
