name: continuous-integration
on: [push, pull_request]

jobs:
  linux-os:
    runs-on: ubuntu-16.04
    steps:
    - name: Update APT
      run: sudo apt-get update
    - name: Install Dependencies
      run: |
        sudo apt-get install --assume-yes build-essential autotools-dev automake libtool pkg-config \
                                          libfreetype6-dev libluajit-5.1-dev libsdl2-dev libopenal-dev \
                                          libogg-dev libvorbis-dev libmodplug-dev libmpg123-dev libtheora-dev
    - name: Checkout
      uses: actions/checkout@v2
    - name: Pre-Configure
      run: $PWD/platform/unix/automagic
    - name: Configure
      run: mkdir build && cd build && ../configure
    - name: Build
      run: cd build && make -j2
    - name: Prepare appimagetool
      run: |
        cd build &&
        wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage -O appimagetool &&
        chmod +x appimagetool &&
        sudo apt install -y appstream
    - name: Clone love-appimages
      uses: actions/checkout@v2
      with:
        path: build/love-appimages
        repository: pfirsich/love-appimages
    - name: Build AppImage
      run: |
        cd build &&
        python3 love-appimages/build.py .. AppDir --builddir build --appimage love.AppImage
    - name: Artifact
      uses: actions/upload-artifact@v2-preview
      with:
        name: love.AppImage
        path: build/love.AppImage
  windows-os:
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [Win32, x64]
    steps:
    - name: Clone Megasource
      uses: actions/checkout@v2
      with:
        path: megasource
        repository: love2d/megasource
        ref: 12.x
    - name: Checkout
      uses: actions/checkout@v2
      with:
        path: megasource/libs/love
    - name: Configure
      shell: cmd
      env:
        PLATFORM: ${{ matrix.platform }}
      run: cmake -Bbuild -Hmegasource -T v142 -A %PLATFORM% -DCMAKE_INSTALL_PREFIX=%CD%\install
    - name: Install
      shell: cmd
      run: cmake --build build --config Release --target install -j2
    - name: Artifact
      uses: actions/upload-artifact@v1
      with:
        name: love-windows-${{ matrix.platform }}
        path: install
